.high_rating {
    background-color: #f6fff7;
}
.average_rating {
    background-color: #fffef6;
}
.law_rating {
    background-color: #fff5f5;
}
.no_rating {
    background-color: #f6f8fa;
}
.problem-meta{
    font-size: medium;
    color: gray;
}
.problem-content{
    font-size: medium;
}
.item-row {
    display: flex;
    flex-direction: row;

}
.item-row .buttons {
    width: 50px;
}
.item-row .item {
    width: 100%;
}